  <h1 class="m-2">Tech blog</h1>
  
  <div class="post container">

      <div class="card">
          <div class="flex-row bg-dark justify-space-between align-center">
              <h3 class="bg-dark text-light card-header">{{title}}</h3>
              <h6 class="bg-dark text-light">Create by {{user.name}} on {{format_date date_created}}</h6>
          </div>
          <p class="card-body">{{content}}</p>
      </div>

      {{#if comment.length}}
        {{#each comment as |cm|}}
        <div class="card">
            {{!-- <div class="flex-row"> --}}
                {{!-- <h3 class="col-9 bg-dark text-light card-header">{{title}}</h3> --}}
                <h6 class="card-header bg-dark text-light">commented by {{user.name}} on {{format_date date_created}}</h6>
            {{!-- </div> --}}
            <p class="card-body">{{comment}}</p>
        </div>
        {{/each}}
      {{/if}}

      {{#if logged_in}}

    <form class="form comment-form">
      <div class="form-group">
        <label for="new-comment">Comment:</label>
        <input class="form-input" type="text" data-post={{id}} id="new-comment" />
      </div>
     
      <div class="form-group text-center">
        <button class="btn btn-primary" type="submit">Add New Comment</button>
      </div>
    </form>

      {{/if}}
  </div>  

<script src="/js/new-comment.js"></script>